name: A workflow for my Hello World file
on: push

jobs:
  build:
    name: Hello world action
    environment: 
      name: dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./action-a
        env:
          DEV_NAME: ${{ secrets.dev.DEV_NAME }}
          MY_NAME: ${{ secrets.NAME }}
 
